body{
	background-image:url("bg.jpg");
}
h1{
	color: red;
	font-family:
	font-size: 100%;
}
img{
	border: 2px solid #ff3281;
}
#p01{
	font-family: courier;
	font-size: 80%;
	color: red;
}
#p02{
	font-family: courier;
	font-size: 80%;
}
